@model Employee

    <div class="container">
        <h3>@Model.FirstName</h3>
        <p>@Model.SurName</p>

        <hr />
        <a asp-controller="Home" asp-action="Employees">Список сотрудников</a>
    </div>