@model FirstWebStore.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee: №@Model.ID</title>
</head>
<body>
    <p>@Model.FirstName</p>

    <hr />

    <a href="/Home/Employees">Список сотрудников</a>
</body>
</html>
