<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index page in view</title>
</head>
<body>
    <h2>Представление Index</h2>
    <a href="/Home/SomeAction">Действие</a>
</body>
</html>
