
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SomeAction</title>
</head>
<body>
    <h2>Спокойнее ты на верном пути!!!</h2>
    <a href="/Home/Index">Домой</a>
    <a href="/Home/Employees">Список сотрудников</a>
</body>
</html>
